<mat-card class="filters">

  <mat-card-content>
    <form [formGroup]="filterForm">
      <div class="clear" *ngIf="filterForm.dirty">
        <!-- {{ filterForm.value | json }} -->
        <button mat-raised-button (click)="clearFilters()">Clear All Filters</button>
      </div>
      <div class="flex-wrap">
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>WMA</mat-label>
            <mat-select formControlName="wma">
              <mat-option *ngFor="let w of wmas$ | async" [value]="w.id">
                {{ w.name }}
              </mat-option>
            </mat-select>
            <mat-hint><a *ngIf="filterForm.value.wma"
              class="clearField"
              (click)="clearFilter('wma')">Clear</a></mat-hint>
          </mat-form-field>
        </div>
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>Season</mat-label>
            <mat-select formControlName="season">
              <mat-option *ngFor="let s of seasons$ | async" [value]="s.id">
                {{ s.name }}
              </mat-option>
            </mat-select>
            <mat-hint><a *ngIf="filterForm.value.season"
              class="clearField"
              (click)="clearFilter('season')">Clear</a></mat-hint>
          </mat-form-field>
        </div>
        <div class="flex-child">
          <mat-form-field appearance="fill">
            <mat-label>Weapon</mat-label>
            <mat-select formControlName="weapon">
              <mat-option *ngFor="let w of weapons$ | async" [value]="w.id">
                {{ w.name }}
              </mat-option>
            </mat-select>
            <mat-hint><a *ngIf="filterForm.value.weapon"
              class="clearField"
              (click)="clearFilter('weapon')">Clear</a></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="flex-wrap">
        <div class="flex-child">
          <div class="example-label-container example-label-horizontal">
            <label id="example-name-label" class="example-name-label">Success Rate % (greater than or equal)</label>
          </div>
          <mat-slider formControlName="successRate" [max]="100" [min]="0"
            [step]="25" [thumbLabel]="true" tickInterval="25">
          </mat-slider>
        </div>
        <div class="flex-child">
          <div>
            <mat-slide-toggle formControlName="quota"
              (change)="toggleChange('quota', $event)">Quota Hunt</mat-slide-toggle>
          </div>
          <div>
            <mat-slide-toggle formControlName="isCheckIn"
              (change)="toggleChange('isCheckIn', $event)">Check-in Hunt</mat-slide-toggle>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
