<div class="main-content">

  <h2>Georgia WMA Harvest Statistics</h2>

  <table mat-table [dataSource]="hunts$">

    <!-- WMA Column -->
    <ng-container matColumnDef="wma">
      <th mat-header-cell *matHeaderCellDef>WMA</th>
      <td mat-cell *matCellDef="let h" [ngClass]="{ 'border' : !h.isNotFirstWmaEntry }">
        <span *ngIf="!h.isNotFirstWmaEntry" class="wmaName">
            {{ h.wmaName }}</span>
      </td>
    </ng-container>

    <!-- Hunt Type Column -->
    <ng-container matColumnDef="huntType">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let h" class="right nudge-left" [ngClass]="{ 'border' : !h.isNotFirstWmaEntry }">
        <span *ngIf="h.quota" matTooltip="Quota Hunt">Q{{ h.quota }}</span>
        <span *ngIf="!h.quota && h.isCheckIn" matTooltip="Check-in Hunt">(c)</span>
        {{ h.weaponName }}, <span *ngIf="h.huntType" matTooltip="{{ h.huntType | huntType }}">
          {{ h.huntTypeName }}</span>
        <span *ngIf="h.hunterType !== 2">, {{ h.hunterTypeName }}</span>
      </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let h" [ngClass]="{ 'border' : !h.isNotFirstWmaEntry }">{{ h.startDate | date : 'MM/dd/yyyy' }}</td>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>End Date</th>
      <td mat-cell *matCellDef="let h" [ngClass]="{ 'border' : !h.isNotFirstWmaEntry }">{{ h.endDate | date : 'MM/dd/yyyy' }}</td>
    </ng-container>

    <!-- Hunters Column -->
    <ng-container matColumnDef="hunters">
      <th mat-header-cell *matHeaderCellDef class="right">Number of Hunters</th>
      <td mat-cell *matCellDef="let h" class="right" [ngClass]="{ 'border' : !h.isNotFirstWmaEntry }">
        {{ h.hunterCount}}
      </td>
    </ng-container>

    <!-- Total Harvest Column -->
    <ng-container matColumnDef="harvest">
      <th mat-header-cell *matHeaderCellDef class="right">Total Harvest</th>
      <td mat-cell *matCellDef="let h" class="right" [ngClass]="{ 'border' : !h.isNotFirstWmaEntry }">
        <span *ngIf="h.totalHarvest" matTooltip="{{ h | totalHarvestBreakdown }}">
          {{ h.totalHarvest }}</span>
        <span *ngIf="!h.totalHarvest || h.totalHarvest === 0">
          &mdash;</span>
      </td>
    </ng-container>

    <!-- Success Rate Column -->
    <ng-container matColumnDef="successRate">
      <th mat-header-cell *matHeaderCellDef class="right">Success Rate</th>
      <td mat-cell *matCellDef="let h" class="right" [ngClass]="{ 'border' : !h.isNotFirstWmaEntry }">
        <span *ngIf="h.successRate">{{ h.successRate | number:'1.1-2' }}%</span>
        <span *ngIf="!h.successRate || h.successRate === 0">&mdash;</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

  </table>
</div>
