/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
  margin: 10px;
}

::ng-deep .tooltip {
  font-size: 12px;
  background-color: darkcyan;
}

::ng-deep mat-tooltip-component{
  & .mat-tooltip{
      color: green; // your custom properties here.
  }
}

mat-tooltip-component .mat-tooltip.tooltip {
  color: blue !important;
}

.nudge-left, td.nudge-left { padding-right: 8px !important; }
.nudge-right, td.nudge-right { padding-left: 5px !important; }

table {
  width: 100%;
  th.mat-header-cell {
    font-size: 14px;
    font-weight: bold;
    background-color: #EEEEEE;
  }
  td.right, th.right { text-align: right; }
  td span.wmaName {
    font-weight: bold;
  }
  td.border, th.border { border-top: 2px solid #333333; }
}
