/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
  margin: 10px;
}

.filters-scrolling {
  top: 70px;
  position: sticky;
}

.nudge-left,
td.nudge-left {
  padding-right: 8px !important;
}
.nudge-right,
td.nudge-right {
  padding-left: 5px !important;
}

.flex-wrap {
  display: flex;
  .flex-child { flex: 1; }
  .flex-child:first-child { margin-right: 20px; }
}

table {
  width: 100%;
  top: 55;
  th.mat-header-cell {
    font-size: 14px;
    font-weight: bold;
    background-color: #eeeeee;
  }
  td.right,
  th.right {
    text-align: right;
  }
  td.hunt-type-col,
  th.hunt-type-col {
    border-right: 1px solid #cccccc;
  }
  td span.wmaName {
    font-weight: bold;
  }
  td.border,
  th.border {
    border-top: 2px solid #333333;
  }
}
